[user]
	name = Mark Rowe
[diff]
	renamelimit = 0
	renames = copies
	algorithm = histogram
[sendemail]
	smtpserver = relay.apple.com
	thread = no
[clean]
	requireForce = false
[core]
	autocrlf = input
[push]
	default = simple
