[user]
	name = Mark Rowe
	email = mrowe@bdash.net.nz
[diff]
	renamelimit = 0
	renames = copies
	algorithm = histogram
[sendemail]
	thread = no
[clean]
	requireForce = false
[core]
	autocrlf = input
[push]
	default = simple
[rebase]
	autosquash = yes
[alias]
	l = log --color --graph --pretty=format:'%C(red)%h%C(reset) -%C(yellow)%d%C(reset) %s %C(green)(%cr) %C(yellow)<%an>%C(reset)' --abbrev-commit
	unpushed = log --branches --not --remotes --color --graph --pretty=format:'%C(red)%h%C(reset) -%C(yellow)%d%C(reset) %s %C(green)(%cr) %C(yellow)<%an>%C(reset)' --abbrev-commit
[color]
	ui = auto
